<section class="slider">
  <ul class="slider1">
    <!-- <li>
      <div style="width:100%;height:0;padding-bottom:43%;position:relative;">
        {{#imagethirtytwo text}}
        <iframe src="{{title}}" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed"
          allowFullScreen>
        </iframe>
        {{/imagethirtytwo}}
      </div>
    </li> -->
    <li>
      <div class="slider-details">
        <h1>We are creative</h1>
        <h3>Get start your next awesome project</h3>
      </div>
      <div class="overlay"></div>
      {{#imageThree image}}
      <img src="{{path}}" alt="Slider Uno">
      {{/imageThree}}
    </li>


    <li>
      <div class="slider-details">
        <h1>We are smart</h1>
        <h3>Get start your next awesome project</h3>
      </div>
      <div class="overlay"></div>
      {{#imageFour image}}
      <img src="{{path}}" alt="Slider dos">
      {{/imageFour}}
    </li>

    {{#imageFive image}}
    <li>
      <div class="slider-details">
        <h1>We are amazing</h1>
        <h3>Get start your next awesome project</h3>
      </div>
      <div class="overlay"></div>
      <img src="{{path}}" alt="Slider tres">
    </li>
    {{/imageFive}}

  </ul>
</section>
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row no-gutters">
      <div class="col-lg-6 video-box">
         {{#imageThirteen image}}
        <img src="{{path}}" class="img-fluid" alt="">
         {{/imageThirteen}}
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
          data-autoplay="true"></a>
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
            occaecati cupiditate non provident</p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bx-gift"></i></div>
          <h4 class="title"><a href="">Nemo Enim</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque</p>
        </div>

      </div>
    </div>

  </div>
</section>                      <!-- End About Us Section -->


<section id="portfolio" class="paddingSection">
  <div class="container-fluid">
    <div class="content-center">
      {{#imageZero text}}
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      {{/imageZero}}
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              {{#imageOne text}}
              <h2>{{title}}</h2>
            </a>
            <a href="#">
              <p>{{description}}</p>
              {{/imageOne}}
            </a>
          </div>
          <div class="overlay"></div>
          {{#imageSix image}}
          <img src="{{path}}" alt="portfolio 1" class="img-fluid">
          {{/imageSix}}
        </div>
      </div>

      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              {{#imageTwo text}}
              <h2>{{title}}</h2>
            </a>
            <a href="#">
              <p>{{description}}</p>
              {{/imageTwo}}
            </a>
          </div>
          <div class="overlay"></div>
          {{#imageSeven image}}
          <img src="{{path}}" alt="portfolio 2" class="img-fluid">
          {{/imageSeven}}
        </div>
      </div>

      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              {{#imageThree text}}
              <h2>{{title}}</h2>
            </a>
            <a href="#">
              <p>{{description}}</p>
              {{/imageThree}}
            </a>
          </div>
          <div class="overlay"></div>
          {{#imageEight image}}
          <img src="{{path}}" alt="portfolio 3" class="img-fluid">
          {{/imageEight}}
        </div>
      </div>

      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              {{#imageFour text}}
              <h2>{{title}}</h2>

            </a>
            <a href="#">
              <p>{{description}}</p>
              {{/imageFour}}
            </a>
          </div>
          <div class="overlay"></div>
          {{#imageNine image}}
          <img src="{{path}}" alt="portfolio 4" class="img-fluid">
          {{/imageNine}}
        </div>
      </div>
    </div>
    <div class="text-center topmargin-sm">
      {{#imageFive text}}
      <p>{{title}}</p>
      <a href="#" class="text-dark">{{description}}</a>
      {{/imageFive}}
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              {{#imageTwentytwo text}}
              <h2>{{title}}</h2>
            </a>
            <a href="#">
              <p>{{description}}</p>
              {{/imageTwentytwo}}
            </a>
          </div>
          <div class="overlay"></div>
          {{#imageTen image}}
          <img src="{{path}}" alt="portfolio 1" class="img-fluid">
          {{/imageTen}}
        </div>
      </div>

      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              {{#imageTwentythree text}}
              <h2>{{title}}</h2>
            </a>
            <a href="#">
              <p>{{description}}</p>
              {{/imageTwentythree}}
            </a>
          </div>
          <div class="overlay"></div>
          {{#imageEleven image}}
          <img src="{{path}}" alt="portfolio 2" class="img-fluid">
          {{/imageEleven}}
        </div>
      </div>

      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              {{#imageTwentyfour text}}
              <h2>{{title}}</h2>
            </a>
            <a href="#">
              <p>{{description}}</p>
              {{/imageTwentyfour}}
            </a>
          </div>
          <div class="overlay"></div>
          {{#imageTwelve image}}
          <img src="{{path}}" alt="portfolio 3" class="img-fluid">
          {{/imageTwelve}}
        </div>
      </div>

      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              {{#imageTwentyfive text}}
              <h2>{{title}}</h2>

            </a>
            <a href="#">
              <p>{{description}}</p>
              {{/imageTwentyfive}}
            </a>
          </div>
          <div class="overlay"></div>
          {{#imageThirteen image}}
          <img src="{{path}}" alt="portfolio 4" class="img-fluid">
          {{/imageThirteen}}
        </div>
      </div>
    </div>
  </div>
</section>


<section id="aboutus" class="bg-light-grey paddingSection">
  <div class="container">
    <div class="content-center">
      {{#imageSix text}}
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      {{/imageSix}}
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="member-container">
          <div class="member-details">
            {{#imageSeven text}}
            <h5>{{title}}</h5>
            <span>{{description}}</span>
            {{/imageSeven}}
            <ul class="list-inline">
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-instagram"></ion-icon>
                  </i>
                </a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-twitter"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-youtube"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-dribbble"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-facebook"></ion-icon>
                  </i></a></li>
            </ul>
          </div>
          {{#imageZero image}}
          <img src="{{path}}" class="img-fluid" alt="member 1">
          {{/imageZero}}
        </div>
      </div>

      <div class="col-md-4">
        <div class="member-container">
          <div class="member-details">
            {{#imageEight text}}
            <h5>{{title}}</h5>
            <span>{{description}}</span>
            {{/imageEight}}
            <ul class="list-inline">
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-instagram"></ion-icon>
                  </i>
                </a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-twitter"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-youtube"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-dribbble"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-facebook"></ion-icon>
                  </i></a></li>
            </ul>
          </div>
          {{#imageOne image}}
          <img src="{{path}}" class="img-fluid" alt="member 2">
          {{/imageOne }}
        </div>
      </div>

      <div class="col-md-4">
        <div class="member-container">
          <div class="member-details">
            {{#imageNine text}}
            <h5>{{title}}</h5>
            <span>{{description}}</span>
            {{/imageNine}}
            <ul class="list-inline">
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-instagram"></ion-icon>
                  </i>
                </a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-twitter"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-youtube"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-dribbble"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-facebook"></ion-icon>
                  </i></a></li>
            </ul>
          </div>
          {{#imageTwo image}}
          <img src="{{path}}" class="img-fluid" alt="member 3">
          {{/imageTwo}}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aboutus" class="bg-light-grey paddingSection">
  <div class="container">
    <div class="row news-cards">
      <div class="col-md-4">
        {{#imageFourteen image}}
        <img src="{{path}}" alt="">
        {{/imageFourteen }}
        {{#imageSixteen text}}
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        {{/imageSixteen}}
      </div>

      <div class="col-md-4">
        {{#imageFifteen image}}
        <img src="{{path}}" alt="">
        {{/imageFifteen }}

        {{#imageSeventeen text}}
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        {{/imageSeventeen}}
      </div>

      <div class="col-md-4">
        {{#imageSixteen image}}
        <img src="{{path}}" alt="">
        {{/imageSixteen }}

        {{#imageEightteen text}}
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        {{/imageEightteen}}
      </div>
    </div>
    <div class="news-cards">
      <div class="row">
        <div class="col-md-4">
          {{#imageSeventeen image}}
          <img src="{{path}}" alt="">
          {{/imageSeventeen }}

          {{#imageNineteen text}}
          <h3>{{title}}</h3>
          <p>{{description}}</p>
          {{/imageNineteen}}
        </div>

        <div class="col-md-4">
          {{#imageEightteen image}}
          <img src="{{path}}" alt="">
          {{/imageEightteen }}

          {{#imageTwenty text}}
          <h3>{{title}}</h3>
          <p>{{description}}</p>
          {{/imageTwenty}}
        </div>

        <div class="col-md-4">
          {{#imageNineteen image}}
          <img src="{{path}}" alt="">
          {{/imageNineteen }}

          {{#imageTwentyone text}}
          <h3>{{title}}</h3>
          <p>{{description}}</p>
          {{/imageTwentyone}}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="divider paddingSection">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#imagethirty text}}
        <h2>{{title}}</h2>
        <p style="text-align: justify;">{{description}}</p>
        {{/imagethirty}}
      </div>

      <div class="col-md-4">
        {{#imagethirtyone text}}
        <iframe width="500" height="315" src="{{title}}" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        {{/imagethirtyone}}
      </div>

    </div>

  </div>
</section>

<section class="details-card">
  <div class="container">
    {{#imageTwentysix text}}
    <h3>{{title}}</h3>
    {{/imageTwentysix}}
    <div class="row">
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            {{#imageTwenty image}}
            <img src="{{path}}" alt="">
            {{/imageTwenty}}
          </div>
          <div class="card-desc">
            {{#imageTwentyseven text}}
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            {{/imageTwentyseven }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            {{#imageTwentyone image}}
            <img src="{{path}}" alt="">
            {{/imageTwentyone}}
          </div>
          <div class="card-desc">
            {{#imageTwentyeight text}}
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            {{/imageTwentyeight }}

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            {{#imageTwentytwo image}}
            <img src="{{path}}" alt="">
            {{/imageTwentytwo}}
          </div>
          <div class="card-desc">

            {{#imageTwentynine text}}
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            {{/imageTwentynine }}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<section class="divider paddingSection">
  <div class="container blogs">
    {{#imageTwentysix text}}
    <h2>{{title}}</h2>
    {{/imageTwentysix }}
    <div class="row">
      <div class="col-md-4">
        <div class="plans2 plan-light2" style="right: 50%;">
          {{#imageTwenty image}}
          <img src="{{path}}" alt="">
          {{/imageTwenty}}
          {{#imageTwentyseven text}}
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          {{/imageTwentyseven }}
        </div>
      </div>

      <div class="col-md-4">
        <div class="plans2 plan-light2" style="right: 20%;">
          {{#imageTwentyone image}}
          <img src="{{path}}" alt="">
          {{/imageTwentyone}}

          {{#imageTwentyeight text}}
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          {{/imageTwentyeight }}
        </div>
      </div>

      <div class="col-md-4">
        <div class="plans2 plan-light2" style="left: 10%;">
          {{#imageTwentytwo image}}
          <img src="{{path}}" alt="">
          {{/imageTwentytwo}}

          {{#imageTwentynine text}}
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          {{/imageTwentynine }}
        </div>
      </div>

    </div>

  </div>
</section> -->

<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">OUR TEAM</h5>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, optio!</p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa praesentium
                    facilis quidem optio totam qui eius dolorem? Commodi illum eaque ducimus provident dolorum, adipisci
                    sint!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image">
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, cum.</p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo mollitia rem quos!
                    Architecto, sed vel nostrum atque quia expedita quidem voluptate repudiandae molestiae. Corrupti,
                    ad!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image">
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, labore?</p>

                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere optio nostrum
                    quaerat numquam voluptatibus accusantium cupiditate! Doloremque aliquid cumque, illum nam nulla
                    voluptatum modi optio.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image">
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, amet.</p>

                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nisi voluptatum aut
                    blanditiis, saepe dolorem doloribus facere nesciunt praesentium fugit, nihil odio sunt eaque quod?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image">
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, molestiae!</p>

                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus itaque
                    veniam laudantium numquam ullam, vero dicta iusto, dolorum, quasi in fuga placeat eum quod maiores.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg" alt="card image">
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nostrum?</p>

                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptate
                    assumenda, maiores soluta eos veniam distinctio itaque minus ipsam ut velit, asperiores numquam
                    culpa possimus.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

    </div>
  </div>
</section>
<!-- Team -->
<!--<section class="divider paddingSection">
  <div class="container">
    <div class="content-center">
      {{#imageTen text}}
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      {{/imageTen}}
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="pricing-container">
          <div class="plans plan-light">
            <h4>Starter solution</h4>
            <h2>$89 <span>/ per moth</span></h2>
            <h4>Per 1 Million Data Points</h4>
            <ul class="topmargin-xs">
              <li>Integration with Google Analytics</li>
              <li>Online Payments</li>
              <li>Solution Architect</li>
              <li>Dedicated Support</li>

            </ul>
            <a href="#" class="btn btn-dark full-width topmargin-sm">Start now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pricing-container">
          <div class="plans plan-dark">
            <h4>Enterprise solution</h4>
            <h2>$139 <span>/ per moth</span></h2>
            <h4>Per 1 Million Data Points</h4>
            <ul class="topmargin-xs">
              <li>Integration with Google Analytics</li>
              <li>Online Payments</li>
              <li>Solution Architect</li>
              <li>Dedicated Support</li>

            </ul>
            <a href="#" class="btn full-width topmargin-sm btn-transparent">Start now</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> -->

<section id="testimonials" class="divider paddingSection">
  <div class="container">
    <div class="content-center">
      <h2>A few words from our clients...</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-container">
            <p>Nibh nisl condimentum id venenatis a condimentum vitae sapien. Amet luctus venenatis lectus magna
              fringilla.</p>
            <div class="rating">
              <ul class="list-inline">
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
              </ul>
            </div>
            <div class="testimonial-user">
              <div class="row">
                <div class="col-md-3">
                  {{#imageZero image}}
                  <img src="{{path}}" class="img-fluid" alt="testimonial user 1">
                  {{/imageZero}}
                </div>
                <div class="col-md-9">
                  <h6>Alondra Olvera</h6>
                  <span>Yahoo Ceo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-container">
            <p>Nibh nisl condimentum id venenatis a condimentum vitae sapien. Amet luctus venenatis lectus magna
              fringilla.</p>
            <div class="rating">
              <ul class="list-inline">
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
              </ul>
            </div>
            <div class="testimonial-user">
              <div class="row">
                <div class="col-md-3">
                  {{#imageOne image}}
                  <img src="{{path}}" class="img-fluid" alt="testimonial user 2">
                  {{/imageOne}}
                </div>
                <div class="col-md-9">
                  <h6>Paola Soto</h6>
                  <span>Yahoo Ceo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-container">
            <p>Nibh nisl condimentum id venenatis a condimentum vitae sapien. Amet luctus venenatis lectus magna
              fringilla.</p>
            <div class="rating">
              <ul class="list-inline">
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
              </ul>
            </div>
            <div class="testimonial-user">
              <div class="row">
                <div class="col-md-3">
                  {{#imageTwo image}}
                  <img src="{{path}}" class="img-fluid" alt="testimonial user 3">
                  {{/imageTwo}}
                </div>
                <div class="col-md-9">
                  <h6>Elon Musk</h6>
                  <span>Yahoo Ceo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <div class="control-button">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <div class="control-button">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section>

<section id="contact" class="paddingSection">
  <div class="container">
    <div class="row">
      <div class="col-md-6 topmargin-sm">
        <h3>Ready to accelerate your proyect? just let us know.</h3>
        <p>Nibh nisl condimentum id venenatis a condimentum vitae sapien. Amet luctus venenatis lectus magna fringilla.
        </p>
      </div>
      <div class="col-md-6 topmargin-sm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="Last name">
            </div>
          </div>
          <div class="col-md-12">
            <form class="form-group">
              <input type="email" class="form-control" id="" placeholder="Email">
            </form>
          </div>
          <div class="col-md-12">
            <form class="form-group">
              <input type="text" class="form-control" id="" placeholder="Company name">
            </form>
          </div>
          <div class="col-md-12">
            <form class="form-group">
              <input type="number" class="form-control" id="" placeholder="Phone number (optional)">
            </form>
          </div>
          <div class="col-md-12">
            <a href="#" class="btn btn-dark full-width">Contact sales</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>